---
env:
    node: true,
    es6: true

parser: "babel-eslint"

ecmaFeatures:
    modules: true

rules:
    # ERRORS

    brace-style: 2
    space-after-keywords: 2
    strict: 2
    no-unused-expressions: 2
    block-scoped-var: 2
    eol-last: 2
    dot-notation: 2
    consistent-return: 2
    no-unused-vars: [2, args: none]
    quotes: [2, 'single']

    # DISABLED
  
    # We use this for private/internal variables
    no-underscore-dangle: 0
    semi: 0
    key-spacing: 0
    no-multi-spaces: 0
